# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeur
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dépendances
node_modules/

# Fichiers de build
dist/
build/

# Fichiers de configuration locaux
*.env
*.env.local

# Fichiers de log
*.log
npm-debug.log*

# Fichiers temporaires
*.tmp
*.temp 